<%- include('header') -%>
  <div class="box">
    <h1 style="color: black;">This is the about page</h1>
    <p>This is ToDoList project. Use input and + button to add new items to your list. Use checkbox to delete item from
      your list. You can create new lists adding /nameOfList to the URL.</p>
  </div>

  <div class="box link">
    <a href="/">Home Page</a>
  </div>
  <%- include('footer') -%>